<div id="<%= dom_id employee %>" class="flex justify-center w-full">

  <div class="neu-input flex items-center gap-4 px-6 py-3 w-[97%] h-18.75">

    <strong class="text-[#A3A3A3] font-medium w-full">
      Name: <span class="text-[#A38AFF]"><%= employee.first_name %> <%= employee.last_name %></span>
    </strong>

    <span class="text-[#B2B2B2]">|</span>

    <strong class="text-[#A3A3A3] font-medium w-full">
      Salary: <span class="text-[#A38AFF]"><%= employee.salary %></span>
    </strong>

    <span class="text-[#B2B2B2]">|</span>

    <strong class="text-[#A3A3A3] font-medium w-full">
      Position: <span class="text-[#A38AFF]"><%= employee.position %></span>
    </strong>

  </div>

</div>