<%= form_with(model: employee, class: "contents") do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul class="list-disc ml-6">
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5 flex flex-col">
    <%= form.label :user_name %>
    <%= form.text_field :user_name, class: "neu-input text-[#B2B2B2]" %>
  </div>

  <div class="my-5 flex flex-col">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "neu-input text-[#B2B2B2]" %>
  </div>

  <div class="my-5 flex flex-col">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "neu-input text-[#B2B2B2]" %>
  </div>

  <div class="my-5 flex flex-col">
    <%= form.label :salary %>
    <%= form.text_field :salary, class: "neu-input text-[#B2B2B2]" %>
  </div>

  <div class="my-5 flex flex-col">
    <%= form.label :position %>
    <%= form.text_field :position, class: "neu-input text-[#B2B2B2]" %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
