<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Mini Payroll Time Attendance Project" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap" rel="stylesheet">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <style>
      .neu-input {
          box-sizing: border-box;
          width: 500px;
          height: 100px;
          padding-left: 40px;
          background: #ECEDF1;
          border: 1px solid #D4C8FF;
          border-radius: 50px;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          transition: all 0.25s ease;
          box-shadow: -5px 5px 10px rgba(212, 213, 217, 0.2),
          5px -5px 10px rgba(212, 213, 217, 0.2),
          -5px -5px 10px rgba(255, 255, 255, 0.9),
          5px 5px 13px rgba(212, 213, 217, 0.9),
          inset 1px 1px 2px rgba(255, 255, 255, 0.3),
          inset -1px -1px 2px rgba(212, 213, 217, 0.5);
      }

      .neu-input:hover,
      .neu-input:focus,
      .neu-input:active,
      .neu-input:focus-visible {
          background: linear-gradient(135deg, #E0E1E5 0%, #F8F9FD 100%);
          outline: none !important;
          border: 1px solid #D4C8FF;

          box-shadow: -5px 5px 10px rgba(212, 213, 217, 0.2),
          5px -5px 10px rgba(212, 213, 217, 0.2),
          -5px -5px 10px rgba(255, 255, 255, 0.9),
          5px 5px 13px rgba(212, 213, 217, 0.9),
          inset 1px 1px 2px rgba(255, 255, 255, 0.3),
          inset -1px -1px 2px rgba(212, 213, 217, 0.5);

      }

      .neu-button {
          box-sizing: border-box;
          width: 100px;
          height: 100px;
          background: #ECEDF1;
          border: 1px solid #D4C8FF;
          border-radius: 50px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: -5px 5px 10px rgba(212, 213, 217, 0.2),
          5px -5px 10px rgba(212, 213, 217, 0.2),
          -5px -5px 10px rgba(255, 255, 255, 0.9),
          5px 5px 13px rgba(212, 213, 217, 0.9),
          inset 1px 1px 2px rgba(255, 255, 255, 0.3),
          inset -1px -1px 2px rgba(212, 213, 217, 0.5);
          transition: all 0.25s ease;
      }

      .neu-button:hover {
          background: linear-gradient(135deg, #E0E1E5 0%, #F8F9FD 100%);
      }

      .neu-button:active {
          box-shadow: inset 2px 2px 5px rgba(212, 213, 217, 0.6),
          inset -2px -2px 5px rgba(255, 255, 255, 0.8);
      }
  </style>
</head>

<body class="min-h-screen" style="background: #ECEDF1; font-family:'Inter', sans-serif;" >
<main class="min-h-screen container mx-auto px-5 grid gap-4 place-items-center">
  <%= yield %>
</main>
</body>
</html>