<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Mini Payroll Time Attendance Project" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap" rel="stylesheet">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="min-h-screen" style="background: #ECEDF1; font-family:'Inter', sans-serif;" >
<main class="min-h-screen container mx-auto px-5 grid gap-4 place-items-center">
  <%= yield %>
</main>
</body>
</html>